root {
    text-default: var(hsl(0, 0%, 0%))
}

body {
    background-color: rgb(151, 151, 151);
}
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.body-container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas:
        "side-nav content-container content-container";
    height: 100vh;
    /* justify-content: center; */
}

.side-nav {
    grid-area: side-nav;
    position: relative;
    left: 0px ;
    display: flex;
    flex-direction: column;
    margin: 100% 0px;
    /* align-items: flex-start; */
    
    /* width: 10%; */
    /* justify-content: center; */
}
.side-nav > div {
    /* margin: 10px 0px; */
    display: flex;
    justify-content: center;
    padding: 10px 8px;
}
.side-nav > div:hover {
    /* margin: 10px 0px; */
}
.side-nav > div:nth-child(1) {
    background: white;
    padding: 5px;

    cursor: pointer;
}
.content-container {
    grid-area: content-container; 
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
    padding: 15px 8px;
}
.content-container>.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 10px 0px;
}
h6 {
    padding: 0px !important;
    margin: 0px !important;
}
